@mixin generate-page-error($name, $palette) {
  #{$name} {
    .pip-page-errors{
      .pip-error-details, .pip-error-text, .pip-error-details md-icon {
        color: $palette;
      }
    }
  }
}

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}

.hint.ng-hide, 
.hint.ng-enter, 
.hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}

.pip-page-errors, .pip-form-errors {
  background-color: rgba(0, 0, 0, 0.08);
  border-bottom: $divider-border;
  z-index: 30;
  @include flex();
  @include flex-direction(row);
  padding: 16px 24px!important; 

  &.no-transparent-background {
    background-color: $color-window !important;
  }

  .pip-error-text {
    font: $font-body1;
    line-height: 17px;
  }

  .pip-error-details {
    font: $font-body2;
    @include flex();
    @include flex-direction(row);
    @include flex-vertical-content(center);
    @include flex-justify-content(start, flex-start);
    margin-left: 24px;
    md-icon {
      height: 20px;
      width: 20px;
      margin-right: 8px!important;
    }
  }

  md-input-container [ng-messages] ::after{
    opacity: 1;
  }

  md-input-container .md-input-message-animation, md-input-container .md-char-counter {
    font-size: $font-caption;
    line-height: 14px;
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    opacity: 1;
    margin-top: 0;
  }  
}

@media (max-width: 768px) {
  .pip-page-errors, .pip-form-errors  {
    padding-left: 16px!important;
    padding-right: 16px!important;
    padding-bottom: 0px!important;
    @include flex-direction(column);

    .pip-error-details {
      height: 48px;
      width: 100%;
      margin-left: 0px!important;
    }
  }
}

@include generate-page-error('.blue',                $color-badge);
@include generate-page-error('.pink',                $color-badge);
@include generate-page-error('.orange',              $color-badge);
@include generate-page-error('.amber',               $color-badge);
@include generate-page-error('.green',               $color-badge);
@include generate-page-error('.navy',                $color-badge);
@include generate-page-error('.grey',                $color-badge);
@include generate-page-error('.dark',                $color-badge);
@include generate-page-error('.black',               $color-badge);