<div class="pip-form-errors" style="padding:  10px;">

<form name="form" novalidate style="width:400px;">

    <md-input-container class="display  bp4" style="width:350px;">
        <label>{{::'EMAIL' | translate}}</label>
        <input name="email" type="email" ng-model="data.email" required step="any" ng-keypress="onEnter($event)"
            pip-clear-errors tabindex="2" pip-test="input-email" />

        <div class="hint" ng-if="touchedErrorsWithHint(form, form.email).hint && !hideObject.hint">
            {{::'HINT_EMAIL' | translate}}
        </div>

        <div ng-messages="touchedErrorsWithHint(form, form.email)" md-auto-hide="false">
            <div ng-message="required">{{::'ERROR_EMAIL_INVALID_REQUIRED' | translate }}</div>
            <div ng-message="email">{{::'ERROR_EMAIL_INVALID' | translate }}</div>
        </div>
    </md-input-container>
    <br>
    <md-input-container class="display  bp4" style="width:350px;">
        <label>{{::'TEXT' | translate}}</label>
        <input name="test" type="text" ng-model="data.text"  />
    </md-input-container>    
    <br>
    <md-button  ng-click="onSignin()" aria-label="SIGNIN" class="md-raised md-accent w-stretch m0"
        tabindex="6" 
        pip-test="button-signin">
        {{::'SEND' | translate}}
    </md-button>
</form>

</div>