        html, body {
            overflow-x: hidden !important;
        }

        .pip-content-container {
            overflow-y: auto;
        }

        pre {
            border-radius: 4px;
        }

        .flat {
            box-shadow: none !important;
        }

        pre[class*="language-"] {
            overflow-y: visible;
        }


        
  md-input-container [ng-messages] ::after{
    opacity: 1;
  }

.pip-entry md-input-container .md-input-message-animation, .pip-entry md-input-container .md-char-counter {
        font-size: 12px;
        line-height: 14px;
        overflow: hidden;
        -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        opacity: 1;
        margin-top: 0;
    }
