<div class="pip-error pip-error-page layout-column flex layout-align-center-center">
    <div style="background-image: url('images/maintenance.svg');" class="pip-pic"></div>
    <div class="pip-error-text">{{::'ERROR_AVAILABLE_TITLE' | translate}}</div>
    <div class="pip-error-subtext">{{::'ERROR_AVAILABLE_SUBTITLE' | translate}}</div>
    <div class="pip-error-subtext" ng-if="timeoutInterval">
        {{::'ERROR_AVAILABLE_TRY_AGAIN' | translate}} {{timeoutInterval}} sec.
    </div>
    <div class="pip-error-actions h48 layout-column layout-align-center-center"
         ng-if="isCordova">
        <md-button class="md-accent" ng-click="onClose($event)" aria-label="CLOSE" >
            {{::'ERROR_AVAILABLE_CLOSE' | translate}}
        </md-button>
    </div>
</div>