<div class="pip-error-scroll-body pip-scroll">
<div class="pip-error pip-error-page layout-column flex layout-align-center-center">
    <img src="{{$ctrl.errorConfig.Image}}" class="pip-pic block" > 
    <div class="pip-error-text">{{::'ERROR_MAINTENANCE_TITLE' | translate}}</div>
    <div class="pip-error-subtext">{{::'ERROR_MAINTENANCE_SUBTITLE' | translate}}</div>
    <div class="pip-error-subtext" ng-if="$ctrl.timeoutInterval">
        {{::'ERROR_MAINTENANCE_TRY_AGAIN' | translate}} {{timeoutInterval}} sec.
    </div>
    <div class="pip-error-actions h48 layout-column layout-align-center-center"
         ng-if="$ctrl.isCordova">
        <md-button class="md-accent" ng-click="$ctrl.onClose($event)" aria-label="CLOSE" >
            {{::'ERROR_MAINTENANCE_CLOSE' | translate}}
        </md-button>
    </div>
</div>
</div>
