<div class="pip-error pip-error-page layout-column flex layout-align-center-center">
    <div style="background-image: url('images/invalid_route.svg');" class="pip-pic"></div>
    <div class="pip-error-text">{{::'ERROR_ROUTE_TITLE' | translate}}</div>
    <div class="pip-error-subtext">{{::'ERROR_ROUTE_SUBTITLE' | translate}}</div>

    <div class="pip-error-actions h48 layout-column layout-align-center-center">
        <md-button aria-label="CONTINUE" class="md-accent" ng-click="onContinue($event)">
            {{::'ERROR_ROUTE_CONTINUE' | translate}}
        </md-button>
    </div>
    <div class="h48" ng-if="url"><a ng-href="{{url}}">
        {{::'ERROR_ROUTE_TRY_AGAIN' | translate }}: {{url}}
    </a></div>
    <div class="h48" ng-if="urlBack"><a ng-href="{{urlBack}}">
        {{::'ERROR_ROUTE_GO_BACK' | translate }}: {{urlBack}}
    </a></div>
</div>