<div class="pip-error-scroll-body pip-scroll">
    <div class="pip-error pip-error-page layout-column flex layout-align-center-center">
        <img src="{{errorConfig.Image}}" class="pip-pic block" >
        <div class="pip-error-text">{{::errorConfig.Title | translate}}</div>
        <div class="pip-error-subtext">{{::errorConfig.SubTitle | translate}}</div>
        <div class="pip-error-actions h48 layout-column layout-align-center-center">
            <md-button aria-label="CONTINUE" class="md-accent" ng-click="onContinue($event)">
                {{::'ERROR_ROUTE_CONTINUE' | translate}}
            </md-button>
        </div>
        <div class="h48" ng-if="url"><a ng-href="{{url}}">
            {{::'ERROR_ROUTE_TRY_AGAIN' | translate }}: {{url}}
        </a></div>
        <div class="h48" ng-if="urlBack"><a ng-href="{{urlBack}}">
            {{::'ERROR_ROUTE_GO_BACK' | translate }}: {{urlBack}}
        </a></div>
    </div>
</div>