<div class="pip-error-scroll-body pip-scroll">
    <div class="pip-error pip-error-page layout-column flex layout-align-center-center">
        <img src="{{$ctrl.config.Image}}" class="pip-pic block" >
        <div class="pip-error-text">{{::$ctrl.config.Title | translate}}</div>
        <div class="pip-error-subtext">{{::$ctrl.config.SubTitle | translate}}</div>
        <div class="pip-error-actions h48 layout-column layout-align-center-center">
            <md-button aria-label="CONTINUE" class="md-accent" ng-click="$ctrl.onContinue($event)">
                {{::'ERROR_MISSING_ROUTE_CONTINUE' | translate}}
            </md-button>
        </div>
        <div class="h48" ng-if="url"><a ng-href="{{$ctrl.url}}">
            {{::'ERROR_MISSING_ROUTE_TRY_AGAIN' | translate }}: {{$ctrl.url}}
        </a></div>
        <div class="h48" ng-if="urlBack"><a ng-href="{{$ctrl.urlBack}}">
            {{::'ERROR_MISSING_ROUTE_GO_BACK' | translate }}: {{$ctrl.urlBack}}
        </a></div>
    </div>
</div>