<div class="pip-error-scroll-body pip-scroll">
<div class="pip-error pip-error-page layout-column flex layout-align-center-center">
    <img src="{{$ctrl.config.Image}}" class="pip-pic block" >
    <div class="pip-error-text">{{::$ctrl.config.Title | translate}}</div>
    <div class="pip-error-subtext">{{::$ctrl.config.SubTitle | translate}}</div>

    <div class="pip-error-subtext" ng-if="$ctrl.showError && $ctrl.error_details && $ctrl.error_details.message">
        <div ng-if="$ctrl.error_details.code">Code: {{$ctrl.error_details.code}}</div>
        <div ng-if="$ctrl.error_details.message">Description: {{$ctrl.error_details.message}}</div>
        <div ng-if="$ctrl.error_details.status">HTTP status: {{$ctrl.error_details.status}}</div>
        <div ng-if="$ctrl.error_details.server_stacktrace">Server stacktrace: {{$ctrl.error_details.server_stacktrace}}</div>
        <div ng-if="$ctrl.error_details.client_stacktrace">Client stacktrace stacktrace: {{$ctrl.error_details.client_stacktrace}}</div>
    </div>

    <div class="pip-error-actions layout-column layout-align-center-center">
        <div class="h48" ng-if="$ctrl.isCordova">
            <md-button aria-label="CLOSE" class="md-accent" ng-click="$ctrl.onClose($event)">
                {{::'ERROR_UNKNOWN_CLOSE' | translate}}
            </md-button>
        </div>
        <div class="h48" ng-if="$ctrl.error_details && $ctrl.error_details.status">
            <md-button aria-label="DETAILS" class="md-accent" ng-click="$ctrl.onDetails($event)">
                {{::'ERROR_UNKNOWN_DETAILS' | translate}}
            </md-button>
        </div>
    </div>
</div>
</div>
