<div class="pip-error pip-error-page layout-column flex layout-align-center-center">
    <img src="{{errorConfig.Image}}" class="pip-pic block" >
    <div class="pip-error-text">{{::errorConfig.Title | translate}}</div>
    <div class="pip-error-subtext">{{::errorConfig.SubTitle | translate}}</div>

    <div class="pip-error-subtext" ng-if="showError && error_details && error_details.message">
        <div ng-if="error_details.code">Code: {{error_details.code}}</div>
        <div ng-if="error_details.message">Description: {{error_details.message}}</div>
        <div ng-if="error_details.status">HTTP status: {{error_details.status}}</div>
        <div ng-if="error_details.server_stacktrace">Server stacktrace: {{error_details.server_stacktrace}}</div>
        <div ng-if="error_details.client_stacktrace">Client stacktrace stacktrace: {{error_details.client_stacktrace}}</div>
    </div>

    <div class="pip-error-actions layout-column layout-align-center-center">
        <div class="h48" ng-if="isCordova">
            <md-button aria-label="CLOSE" class="md-accent" ng-click="onClose($event)">
                {{::'ERROR_UNKNOWN_CLOSE' | translate}}
            </md-button>
        </div>
        <div class="h48" ng-if="error_details && error_details.status">
            <md-button aria-label="DETAILS" class="md-accent" ng-click="onDetails($event)">
                {{::'ERROR_UNKNOWN_DETAILS' | translate}}
            </md-button>
        </div>
    </div>
</div>