<div class="pip-error pip-empty layout-column flex layout-align-center-center">
    <div style="background-image: url('images/unknown_error.svg');" class="pip-pic"></div>
    <div class="pip-error-text">{{::'ERROR_UNKNOWN_TITLE' | translate}}</div>
    <div class="pip-error-subtext">{{::'ERROR_UNKNOWN_SUBTITLE' | translate}}</div>

    <div class="pip-error-subtext" ng-if="error_details && error_details.status">
        <div>Code: {{error_details.code}}</div>
        <div>Description: {{error_details.description}}</div>
        <div>HTTP status: {{error_details.status}}</div>
        <div>Server stacktrace: {{error_details.server_stacktrace}}</div>
        <div>Client stacktrace stacktrace: {{error_details.client_stacktrace}}</div>
    </div>
    <div class="pip-error-actions" layout="column" layout-align="center center">
        <div class="h48" ng-if="isCordova">
            <md-button aria-label="CLOSE" class="md-accent" ng-click="onClose($event)">
                {{::'ERROR_UNKNOWN_CLOSE' | translate}}
            </md-button>
        </div>
        <div class="h48">
            <md-button aria-label="DETAILS" class="md-accent" ng-click="onDetails($event)">
                {{::'ERROR_UNKNOWN_DETAILS' | translate}}
            </md-button>
        </div>
    </div>
</div>