<div class="pip-error-scroll-body pip-scroll">
    <div class="pip-error pip-error-page layout-column flex layout-align-center-center">
    
        <div class="pip-error-text">{{::$ctrl.errorConfig.Title | translate}}</div>
        <div class="pip-error-subtext">
            {{::$ctrl.errorConfig.SubTitle | translate}}
        </div>
        <div class="pip-error-details layout-row layout-align-center-center" ng-if="$ctrl.media('gt-xs') && $ctrl.errorConfig.Params && $ctrl.errorConfig.Params.supported">
            <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.ie">
                <div style="background-image: url('images/ie.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16 text-center">
                    <a class="text-body2 m0" target="_blank"
                       href="https://www.microsoft.com/en-us/download/internet-explorer-11-for-windows-7-details.aspx">
                        {{::'ERROR_UNSUPPORTED_IE' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_IE_VER' | translate}} {{ $ctrl.errorConfig.Params.supported.ie }} +</p>
                </div>
            </div>

            <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.edge">
                <div style="background-image: url('images/edge.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16 text-center">
                    <a class="text-body2 m0" target="_blank"
                       href="https://microsoft-edge.en.softonic.com/download">
                        {{::'ERROR_UNSUPPORTED_EDGE' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_EDGE_VER' | translate}} {{$ctrl.errorConfig.Params.supported.edge}} +</p>
                </div>
            </div>

            <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.firefox">
                <div style="background-image: url('images/fm.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16 text-center">
                    <a class="text-body2 m0" target="_blank"
                       href="https://www.mozilla.org/ru/firefox/new/">
                        {{::'ERROR_UNSUPPORTED_FM' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_FM_VER' | translate}}  {{$ctrl.errorConfig.Params.supported.firefox}} +</p>
                </div>
            </div>
            <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.chrome">
                <div style="background-image: url('images/gc.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16 text-center">
                    <a class="text-body2 m0" target="_blank"
                       href="https://www.google.com/chrome/browser/desktop/index.html?platform=win64#">
                        {{::'ERROR_UNSUPPORTED_GC' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_GC_VER' | translate}}  {{$ctrl.errorConfig.Params.supported.chrome}} +</p>
                </div>
            </div>
            <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.opera">
                <div style="background-image: url('images/o.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16 text-center">
                    <a class="text-body2 m0" target="_blank"
                       href="http://www.opera.com/ru/download">
                        {{::'ERROR_UNSUPPORTED_O' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_O_VER' | translate}}  {{$ctrl.errorConfig.Params.supported.opera}} +</p>
                </div>
            </div>

            <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.safari">
                <div style="background-image: url('images/safari.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16 text-center">
                    <a class="text-body2 m0" target="_blank"
                       href="https://safari.en.softonic.com/">
                        {{::'ERROR_UNSUPPORTED_SAFARI' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_SAFARI_VER' | translate}}  {{$ctrl.errorConfig.Params.supported.safari}} +</p>
                </div>
            </div>            
        </div>
    
        <div class="pip-error-details" ng-if="$ctrl.media('xs') && $ctrl.errorConfig.Params && $ctrl.errorConfig.Params.supported">
            <div class="layout-row layout-align-center-center">
                <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.ie">
                    <div style="background-image: url('images/ie.svg');" class="pip-pic"></div>
                    <div class="h64 tp16 bp16 text-center">
                        <a class="text-body2 m0" target="_blank"
                           href="https://www.microsoft.com/en-us/download/internet-explorer-11-for-windows-7-details.aspx">
                            {{::'ERROR_UNSUPPORTED_IE' | translate}}
                        </a>
                        <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_IE_VER' | translate}} {{$ctrl.errorConfig.Params.supported.ie}} +</p>
                    </div>
                </div>

                <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.edge">
                    <div style="background-image: url('images/edge.svg');" class="pip-pic"></div>
                    <div class="h64 tp16 bp16 text-center">
                        <a class="text-body2 m0" target="_blank"
                           href="https://microsoft-edge.en.softonic.com/download">
                            {{::'ERROR_UNSUPPORTED_EDGE' | translate}}
                        </a>
                        <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_EDGE_VER' | translate}} {{$ctrl.errorConfig.Params.supported.edge}} +</p>
                    </div>
                </div> 
                               
                <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.firefox">
                    <div style="background-image: url('images/fm.svg');" class="pip-pic"></div>
                    <div class="h64 tp16 bp16 text-center">
                        <a class="text-body2 m0" target="_blank"
                           href="https://www.mozilla.org/ru/firefox/new/">
                            {{::'ERROR_UNSUPPORTED_FM' | translate}}
                        </a>
                        <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_FM_VER' | translate}} {{$ctrl.errorConfig.Params.supported.firefox}} +</p>
                    </div>
                </div>
            </div>
            <div class="tm16 layout-row layout-align-center-center">
                <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.chrome">
                    <div style="background-image: url('images/gc.svg');" class="pip-pic"></div>
                    <div class="h64 tp16 bp16 text-center">
                        <a class="text-body2 m0" target="_blank"
                           href="https://www.google.com/chrome/browser/desktop/index.html?platform=win64#">
                            {{::'ERROR_UNSUPPORTED_GC' | translate}}
                        </a>
                        <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_GC_VER' | translate}}  {{$ctrl.errorConfig.Params.supported.chrome}} +</p>
                    </div>
                </div>
                <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.opera">
                    <div style="background-image: url('images/o.svg');" class="pip-pic"></div>
                    <div class="h64 tp16 bp16 text-center">
                        <a class="text-body2 m0" target="_blank"
                           href="http://www.opera.com/ru/download">
                            {{::'ERROR_UNSUPPORTED_O' | translate}}
                        </a>
                        <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_O_VER' | translate}} {{$ctrl.errorConfig.Params.supported.opera}} +</p>
                    </div>
                </div>
                <div class="pip-error-details-item layout-column layout-align-center-center" ng-if="$ctrl.errorConfig.Params.supported.safari">
                    <div style="background-image: url('images/safari.svg');" class="pip-pic"></div>
                    <div class="h64 tp16 bp16 text-center">
                        <a class="text-body2 m0" target="_blank"
                           href="https://safari.en.softonic.com/">
                            {{::'ERROR_UNSUPPORTED_SAFARI' | translate}}
                        </a>
                        <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_SAFARI_VER' | translate}}  {{$ctrl.errorConfig.Params.supported.safari}} +</p>
                    </div>
                </div>                   
            </div>
        </div>
    </div>
    </div>