<div class="pip-error pip-empty layout-column flex layout-align-center-center">

    <div class="pip-error-text">{{::'ERROR_UNSUPPORTED_TITLE' | translate}}</div>
    <div class="pip-error-subtext">
        {{::'ERROR_UNSUPPORTED_SUBTITLE' | translate}}
    </div>
    <div class="pip-error-details" layout="row" layout-align="center center" ng-if="$mdMedia('gt-xs')">
        <div class="pip-error-details-item" layout="column" layout-align="center center">
            <div style="background-image: url('images/ie.svg');" class="pip-pic"></div>
            <div class="h64 tp16 bp16">
                <a class="text-body2 m0" target="_blank"
                   href="https://www.microsoft.com/en-us/download/internet-explorer-11-for-windows-7-details.aspx">
                    {{::'ERROR_UNSUPPORTED_IE' | translate}}
                </a>
                <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_IE_VER' | translate}}</p>
            </div>
        </div>
        <div class="pip-error-details-item" layout="column" layout-align="center center">
            <div style="background-image: url('images/fm.svg');" class="pip-pic"></div>
            <div class="h64 tp16 bp16">
                <a class="text-body2 m0" target="_blank"
                   href="https://www.mozilla.org/ru/firefox/new/">
                    {{::'ERROR_UNSUPPORTED_FM' | translate}}
                </a>
                <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_FM_VER' | translate}}</p>
            </div>
        </div>
        <div class="pip-error-details-item" layout="column" layout-align="center center">
            <div style="background-image: url('images/gc.svg');" class="pip-pic"></div>
            <div class="h64 tp16 bp16">
                <a class="text-body2 m0" target="_blank"
                   href="https://www.google.com/chrome/browser/desktop/index.html?platform=win64#">
                    {{::'ERROR_UNSUPPORTED_GC' | translate}}
                </a>
                <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_GC_VER' | translate}}</p>
            </div>
        </div>
        <div class="pip-error-details-item" layout="column" layout-align="center center">
            <div style="background-image: url('images/o.svg');" class="pip-pic"></div>
            <div class="h64 tp16 bp16">
                <a class="text-body2 m0" target="_blank"
                   href="http://www.opera.com/ru/download">
                    {{::'ERROR_UNSUPPORTED_O' | translate}}
                </a>
                <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_O_VER' | translate}}</p>
            </div>
        </div>
    </div>

    <div class="pip-error-details" ng-if="$mdMedia('xs')">
        <div layout="row" layout-align="center center">
            <div class="pip-error-details-item" layout="column" layout-align="center center">
                <div style="background-image: url('images/ie.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16">
                    <a class="text-body2 m0" target="_blank"
                       href="https://www.microsoft.com/en-us/download/internet-explorer-11-for-windows-7-details.aspx">
                        {{::'ERROR_UNSUPPORTED_IE' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_IE_VER' | translate}}</p>
                </div>
            </div>
            <div class="pip-error-details-item" layout="column" layout-align="center center">
                <div style="background-image: url('images/fm.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16">
                    <a class="text-body2 m0" target="_blank"
                       href="https://www.mozilla.org/ru/firefox/new/">
                        {{::'ERROR_UNSUPPORTED_FM' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_FM_VER' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="tm16" layout="row" layout-align="center center">
            <div class="pip-error-details-item" layout="column" layout-align="center center">
                <div style="background-image: url('images/gc.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16">
                    <a class="text-body2 m0" target="_blank"
                       href="https://www.google.com/chrome/browser/desktop/index.html?platform=win64#">
                        {{::'ERROR_UNSUPPORTED_GC' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_GC_VER' | translate}}</p>
                </div>
            </div>
            <div class="pip-error-details-item" layout="column" layout-align="center center">
                <div style="background-image: url('images/o.svg');" class="pip-pic"></div>
                <div class="h64 tp16 bp16">
                    <a class="text-body2 m0" target="_blank"
                       href="http://www.opera.com/ru/download">
                        {{::'ERROR_UNSUPPORTED_O' | translate}}
                    </a>
                    <p class="text-body1 m0"> {{::'ERROR_UNSUPPORTED_O_VER' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
